<!DOCTYPE html>

<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="fullpage.js/fullpage.css"/>
	<title>Web1</title>
	<style type="text/css">
		@import url(css/global.css);
		@import url(css/page1.css);
		@import url(css/page2.css);
		@import url(css/page3.css);
		@import url(css/page4.css);
		@import url(css/page5.css);
		@import url(css/page6.css);
		@import url(css/page7.css);
	</style>
</head>

<body>
	<div id="fullpage">
		<div class="section" id="section1">
			<div class="page1" >
				<div class="_1_0_back">
					<img src="img/page1.1.jpg" height="970px" class="_1_0_img" />
					<div class="_1_0_cover"></div>
				</div>
				<div class="_1_0_content">
					<div class="_1_1_text">
						Hello World
					</div>
					<div class="_1_2_text">
						China is speeding up strategic plan, standards, traffic rules, laws and regulations on accident-incurred
						liabilities for its smart car industry, Economic Information Daily reported Thursday.
					</div>
					<div class="_1_3_block">
					</div>
					<div class="_1_3_1_text">
						CREATE YOUR ACCOUNT
					</div>
					<div class="_1_3_2_text">
						IT IS ABSOLUTELY FREE
					</div>
					<div class="_1_3_3_block">
						<input class="_1_3_3_1_input" placeholder="input your e-mail address" v-model="email"></input>
						<input class="_1_3_3_2_input" placeholder="create your password" v-model="passwd"></input>
						<button class="_1_3_3_3_button" onclick="Click_SignUp()">SIGN UP</button>
					</div>
				</div>
			</div>
		</div>
		<div class="section" id="section2">
			<div class="page2">
				<div class="_2_0_content">
					<div class="_2_1_text">
						BOATLOADS OF AWESOME
					</div>
					<div class="_2_2_text">
						Ready-made, customizable, HTML landing page sections
					</div>
					<div class="_2_3_block">
						<div class="_2_3_1_block">
							<img src="./img/icon/Iphone.png" height="65px" class="_2_3_1_icon"/>
							<div class="_2_3_1_title">Mobile First</div>
							<div class="_2_3_1_text">All modulz are built mobile-first for maximum device compatibility.</div>
						</div>
						<div class="_2_3_2_block">
							<img src="./img/icon/Pencil.png" height="60px" class="_2_3_2_icon"/>
							<div class="_2_3_2_title">Fluid Typography</div>
							<div class="_2_3_2_text">On different screen sizes, fonts automagically scale with the viewport.</div>
						</div>
						<div class="_2_3_3_block">
							<img src="./img/icon/Check.png" height="60px" class="_2_3_3_icon"/>
							<div class="_2_3_3_title">Accessibility</div>
							<div class="_2_3_3_text">Support for IE8, mobile and tablet devices, screenreaders and color blind.</div>
						</div>
						<div class="_2_3_4_block">
							<img src="./img/icon/Settings.png" height="60px" class="_2_3_4_icon"/>
							<div class="_2_3_4_title">Customization</div>
							<div class="_2_3_4_text">Make any design your own using the Style Editor. Personalize fonts, colors, and layouts to create the custom look you want.</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<div class="section" id="section3">
			<div class="page3">
				<div class="_3_0_back">
					<img src="img/page3.1.jpg" height="970px" class="_3_0_img" />
					<div class="_3_0_cover"></div>
				</div>
				<div class="_3_0_content">
					<div class="_3_1_detail">
						<div class="_3_1_1_text">
							Supportive policies for China's smart car
						</div>
						<div class="_3_1_2_text">
							China will come up with its own smart car standards, traffic rules, laws and regulations relating to safety, according to the China Industry Innovation Alliance for the Intelli-gent and Connected Vehicles.
						</div>
						<div class="_3_1_3_block">
							<button class="_3_1_3_1_button">
								CHECK OUT FEATURES
							</button>
							<button class="_3_1_3_2_button">
								TRY PRODUCT FOR FREE
							</button>
						</div>
					</div>
					<div class="_3_2_preview">
						<img src="./img/page3.2.png" height="700px"/>
					</div>
				</div>
			</div>
		</div>
		<div class="section" id="section4">
			<div class="page4">
				<div class="_4_0_content">
					<div class="_4_1_title">
						Try Our Awesome Products
					</div>
					<div class="_4_2_block">
						<div class="_4_2_1_cell">
							<img class="_4_2_1_icon" src="./img/icon/Singleton.png" height="45px"/>
							<div class="_4_2_1_text">
								Li Jun, a China Academy of Engineering academician and also director of the alliance's experts' committee, said that China will also launch design guidance for smart cars, smart map architecture and standards for test grounds.
							</div>
						</div>
						<div class="_4_2_2_cell">
							<img class="_4_2_2_icon" src="./img/icon/Hero.png" height="45px"/>
							<div class="_4_2_2_text">
								Li said the smart car industry is able to enlarge the current car industry by 1 trillion yuan ($158.15 billion) and also able to boost fast development in 5G, internet of cars, big data, artificial intelligence and new-energy vehicles.
							</div>
						</div>
						<div class="_4_2_3_cell">
							<img class="_4_2_3_icon" src="./img/icon/Portland.png" height="45px"/>
							<div class="_4_2_3_text">
								Zhang Junyi, a partner with NIO Capital, said that the smart car is the trend for the car industry and China's auto sector will usher in a new key development stage with the improvement of infrastructure, technology, policies and laws.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section" id="section5">
			<div class="page5">
				<div class="_5_0_content">
					<div class="_5_1_row">
						<img class="_5_1_img" src="./img/page5.1.jpg" height="400px"/>
						<div class="_5_1_block">
							<div class="_5_1_title">
								Learn How to Improve Your Personal Business
							</div>
							<div class="_5_1_text">
								Li Jun, a China Academy of Engineering academician and also director of the alliance's experts' committee, said that China will also launch design guidance for smart cars, smart map architecture and standards for test grounds.
							</div>
						</div>
					</div>
					<div class="_5_2_row">
						<img class="_5_2_img" src="./img/page5.2.jpg" height="400px" />
						<div class="_5_2_block">
							<div class="_5_2_title">
								Choose Between Two Beautifully Designed Color Schemes.
							</div>
							<div class="_5_2_text">
								China will come up with its own smart car standards, traffic rules, laws and regulations relating to safety, according to the China Industry Innovation Alliance for the Intelligent and Connected Vehicles.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section" id="section6">
			<div class="page6">
				<div class="_6_0_content">
					<div class="_6_1_title">
						Our Awesome Crew
					</div>
					<div class="_6_2_detail">
						Our unique online teaching style makes learning easy for everyone. Whether you are trying to land a new job, brush up on your skills.
					</div>
					<div class="_6_3_block">
						<div class="_6_3_1_cell">
							<img class="_6_3_1_img" src="./img/crew/1.jpg" />
							<div class="_6_3_mask" >
								<div class="_6_3_name">
									Ethan Dutton
								</div>
								<div class="_6_3_title">
									SENIOR VISUAL DESIGNER
								</div>
								<div class="_6_3_icons">
									<img src="./img/icon/Facebook.png"  height="30px" class="_6_3_icon"/>
									<img src="./img/icon/Twitter.png" height="30px" class="_6_3_icon"/>
									<img src="./img/icon/Instagram.png" height="30px" class="_6_3_icon"/>
								</div>
							</div>
						</div>
						<div class="_6_3_2_cell">
							<img class="_6_3_2_img" src="./img/crew/2.jpg" />
							<div class="_6_3_mask" >
								<div class="_6_3_name">
									Ethan Dutton
								</div>
								<div class="_6_3_title">
									SENIOR VISUAL DESIGNER
								</div>
								<div class="_6_3_icons">
									<img src="./img/icon/Facebook.png"  height="30px" class="_6_3_icon"/>
									<img src="./img/icon/Twitter.png" height="30px" class="_6_3_icon"/>
									<img src="./img/icon/Instagram.png" height="30px" class="_6_3_icon"/>
								</div>
							</div>
						</div>
						<div class="_6_3_3_cell">
							<img class="_6_3_3_img" src="./img/crew/3.jpg" />
							<div class="_6_3_mask" >
								<div class="_6_3_name">
									Ethan Dutton
								</div>
								<div class="_6_3_title">
									SENIOR VISUAL DESIGNER
								</div>
								<div class="_6_3_icons">
									<img src="./img/icon/Facebook.png"  height="30px" class="_6_3_icon"/>
									<img src="./img/icon/Twitter.png" height="30px" class="_6_3_icon"/>
									<img src="./img/icon/Instagram.png" height="30px" class="_6_3_icon"/>
								</div>
							</div>
						</div>
						<div class="_6_3_4_cell">
							<img class="_6_3_4_img" src="./img/crew/4.jpg" />
							<div class="_6_3_mask" >
								<div class="_6_3_name">
									Ethan Dutton
								</div>
								<div class="_6_3_title">
									SENIOR VISUAL DESIGNER
								</div>
								<div class="_6_3_icons">
									<img src="./img/icon/Facebook.png"  height="30px" class="_6_3_icon"/>
									<img src="./img/icon/Twitter.png" height="30px" class="_6_3_icon"/>
									<img src="./img/icon/Instagram.png" height="30px" class="_6_3_icon"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section" id="section7">
			<div class="page7">
				<div class="_7_0_form">
					<div class="_7_0_text">FELL FREE TO WRITE US</div>
					<input class="_7_0_email" placeholder="E-mail"/>
					<input class="_7_0_subject" placeholder="Subject"/>
					<textarea class="_7_0_message" placeholder="Message" cols="1" rows="5"></textarea>
					<button class="_7_0_button">SEND</button>
				</div>
				<div class="_7_1_text">
					<div class="_7_1_title">
						Contacts
					</div>
					<div class="_7_1_detail">
						Make any design your own using the Style Editor. Personalize fonts, colors, and layouts to create the custom look you want.
					</div>
					<div class="_7_1_address">
						<img src="./img/icon/address.png" />
						<span>
							360 King Street<br/>
							Feastrvale Trevose, PA 19057
						</span>
					</div>
					<div class="_7_1_tel">
						<img src="./img/icon/phone.png" />
						<span>
							(755) 564-84-12
						</span>
					</div>
					<div class="_7_1_email">
						<img src="./img/icon/email.png"/>
						<span>
							youname@mail.com
						</span>
					</div>
				</div>
				<div class="_7_2_footer">
					<div class="_7_2_learn">
						<p1>LEARN MORE</p1>
						<p2>How it works?</p2>
						<p2>Meeting tools</p2>
						<p2>Live streaming</p2>
						<p2>Contact method</p2>
					</div>
					<div class="_7_2_about">
						<p1>ABOUT US</p1>
						<p2>About us</p2>
						<p2>Features</p2>
						<p2>Privacy police</p2>
						<p2>Terms & Conditions</p2>
					</div>
					<div class="_7_2_support">
						<p1>SUPPORT</p1>
						<p2>FAQ</p2>
						<p2>Contact us</p2>
						<p2>Live chat</p2>
						<p2>Phone call</p2>
					</div>
					<div class="_7_2_enjoy">
						<p1>ENJOY YOUR LIFE</p1>
						<p2>
							Great web UI kit for designers, 
							<br/>
							freelancers or business.
						</p2>
						<div class="_7_2_icons">
							<img src="./img/icon/icon-twtter.png" />
							<img src="./img/icon/icon-facebook.png" />
							<img src="./img/icon/icon-google.png" />
							<img src="./img/icon/icon-tumbler.png" />
							<img src="./img/icon/icon-pinterest.png" />
							<img src="./img/icon/icon-linkedin.png" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="./fullpage.js/fullpage.js"></script>
	<script type="text/javascript">
        new fullpage('#fullpage', {
        });
	</script>
</body>

</html>